<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/fav.png">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>欢迎登录博纳人才网</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'company/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'company/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'company/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'company/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'company/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'company/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'company/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'company/main.css' %}">
    <link rel="stylesheet" href="{% static 'list_yemian/reset.css' %}">
    <link rel="stylesheet" href="{% static 'list_yemian/public.css' %}">
    <link rel="stylesheet" href="{% static 'list_yemian/recruitmenting.css' %}">
</head>
<body>

<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a style="font-size: 30px">博纳人才网</a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url "NB:go_company_mine" %}">我的主页</a></li>
                    <li class="menu-has-children"><a href="">职位管理</a>
                        <ul>
                            <li><a href="{% url 'NB:upload_job_home' %}">职位发布</a></li>
                            <li><a href="{% url 'NB:go_company_zhiweisousuo' 1 %}">查看发布岗位</a></li>
                        </ul>
                    </li>
                    <li><a href="">简历搜索</a></li>
                    <li><a href="{% url 'NB:go_cpmpany_shoujianxiang' 1 %}">收件箱</a></li>
                    <li><a href="{% url 'NB:go_company_recaijia' 1 %}">公司人才夹</a></li>
                    <li class="menu-has-children"><a href="">个人中心</a>
                        <ul>
                            <li><a href="{% url 'NB:change_company' %}">修改公司基本信息</a></li>
                            <li><a href="{% url 'NB:go_company_reset' %}">找回密码</a></li>
                            <li><a href="{% url 'NB:go_company_vip' %}">会员信息</a></li>
                            <li><a href="{% url 'NB:quit_login' %}">用户注销</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<section class="banner-area relative" id="home">

    <div class="overlay overlay-bg" style="height: 723px">
        <div style="margin-left: 350px;margin-top: 100px;width:600px;height: 400px">
            <div style="float: left;width: 210px;height: 50px;">
                <p style="font-size: 70px;color: blue;margin-top: 16px">收件箱</p>
            </div>
            <div style="float: left;width: 240px;height: 10px">
                <img style="width:80px;height: 60px;" src="{% static 'img/e1.jpg' %}">
            </div>
            <div style="width: 800px;height: 400px;">
                <div style="height: 65px"></div>
                <div style="background-color:gray;width: 900px;height: 558px">
                    <div style="width: 900px;height: 350px">
                        <div class="plate-bottom" style="width: 700px;line-height: 45px">
                            <div class="thead" style="width: 900px;line-height: 45px">
                                <span class="thead-one">简历id</span>
                                <span class="thead-two">姓名</span>
                                <span class="thead-three">学历</span>
                                <span class="thead-four">投递岗位</span>
                                <span class="thead-five">刷新时间</span>
                            </div>
                        </div>
                        {% for resume in page %}
                            <div class="plate-bottom" style="width: 700px;height: 30px;">
                                <a href="{% url 'NB:re_resume' resume.id %}">
                                    <div class="thead" style="width: 900px;background-color: cornflowerblue">
                                        <span class="thead-one">{{ resume.id }}</span>
                                        <span class="thead-two">{{ resume.user_name }}</span>
                                        <span class="thead-three">{{ resume.xueli }}</span>
                                        <span class="thead-four">{{ resume.job_title }}</span>
                                        <span class="thead-five">{{ resume.resume_time }}</span>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        <div class="plate-bottom" style="width: 700px;height: 20px">
                            <div class="thead" style="width: 900px;line-height: 45px;height: 20px">
                            </div>
                        </div>
                        <div class="plate-bottom" style="width: 700px;height: 30px;background-color: gray">
                            <div class="thead"
                                 style="width: 900px;height: 30px;background-color: gray;line-height: 45px">
                                <span style="width: 40%">页码</span>

                                <a href="{% url 'NB:go_cpmpany_shoujianxiang' 1 %}"><span style="width: 10%">首页</span></a>
                                {% if page.has_previous %}
                                    <a href="{% url 'NB:go_cpmpany_shoujianxiang' page.previous_page_number %}"><span style="width: 10%">上一页</span></a>
                                {% else %}
                                    <a href="{% url 'NB:go_cpmpany_shoujianxiang' 1 %}"><span style="width: 10%">上一页</span></a>
                                {% endif %}
                                {% if page.has_next %}
                                <a href="{% url 'NB:go_cpmpany_shoujianxiang' page.next_page_number %}"><span style="width: 10%">下一页</span></a>
                                    {% else %}
                                <a href="{% url 'NB:go_cpmpany_shoujianxiang' paginator.num_pages %}"><span style="width: 10%">下一页</span></a>
                            {% endif %}
                                <a href="{% url 'NB:go_cpmpany_shoujianxiang' paginator.num_pages %}"><span style="width: 10%">尾页</span></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row fullscreen d-flex align-items-center justify-content-center">
    </div>
</section>
<footer class="footer-area section-gap" style="height: 250px">
    <div class="container" style="height: 100px">
        <div class="row" style="margin-left: 300px">
            <p>
                <a href="#">关 于 我 们</a>---<a href="#">广 告 合 作 </a>---<a href="#">联 系 我 们 </a>---<a href="#">免 责 声 明 </a>---<a
                    href="#">在 线 投 稿 </a>---<a href="#">投 诉 建 议 </a>
            </p>
        </div>

        <div class="row footer-bottom d-flex justify-content-between" style="margin-left: 305px">

            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            python1805 NB 0.1 QUAN ZHAN SAN REN PRODUCT. 版权所有
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="{% static 'company/jquery-2.2.4.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'company/bootstrap.min.js' %}"></script>

<script src="{% static 'company/easing.min.js' %}"></script>
<script src="{% static 'company/hoverIntent.js' %}"></script>
<script src="{% static 'company/superfish.min.js' %}"></script>
<script src="{% static 'company/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'company/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'company/owl.carousel.min.js' %}"></script>
<script src="{% static 'company/jquery.sticky.js' %}"></script>
<script src="{% static 'company/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'company/parallax.min.js' %}"></script>
<script src="{% static 'company/mail-script.js' %}"></script>
<script src="{% static 'company/main.js' %}"></script>
</body>
</html>



