<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{% static 'user/jlsc/css/group.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'user/jlsc/css/grzx.css' %}">
	</head>
	<body>
		<div class="grzx">
			<div class="mbox">
				<div class="grzx-nav">
					<h1>简历浏览</h1>
					<div class="blank1"></div>
					<form action="{% url 'NB:change_xinxi'%}" method="post" enctype="multipart/form-data" id="resumeForm">
						<div class="grzx-img">
							<img src="/static/user/resume_img/{{ img }}" id="preImg" style="border: 1px solid red; padding: 5px; width: 80%"
                                onclick="selector.click()"/>
							<br />
							<input type="file" id="selector" name="resume_img" style="display: none"
                                onchange="upload_img(this.files[0])"/>
						</div>
						<div class="grzx-from">
							<div class="ft-text">姓名：</div>
							<div class="rt-inp"><input type="text" placeholder="请输入" name="username" value="{{ name }}"/></div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">性别：</div>
							<div class="edit-xb">
								<ul>
									<li>
										<input name="sex"  type="radio" value="男"/>&nbsp;男
									</li>
									<li>
										<input name="sex"  type="radio" value="女"/>&nbsp;女
									</li>
								</ul>

							</div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">年龄：</div>
							<div class="rt-inp"><input type="text" placeholder="请输入" name="age" value="{{ age }}"/></div>
						</div>
                        <div class="grzx-from">
							<div class="ft-text">学历：</div>
							<div class="rt-inp">
								<select name="xueli">
									<option name="xueli" value="请选择">请选择</option>
									<option name="xueli" value="大专以下">大专以下</option>
									<option name="xueli" value="大专">大专</option>
									<option name="xueli" value="本科">本科</option>
                                    <option name="xueli" value="研究生">研究生</option>
                                    <option name="xueli" value="研究生以上">研究生以上</option>
								</select>
							</div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">求职状态：</div>
							<div class="rt-inp">
								<select name="job_status">
									<option value="请选择">请选择</option>
									<option value="离职">离职</option>
									<option value="在职，可一个月到岗">在职，可一个月到岗</option>
									<option value="在职，考虑换工作">在职，考虑换工作</option>
								</select>
							</div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">电子邮箱：</div>
							<div class="rt-inp"><input type="text" name="email" placeholder="请输入" value="{{ email }}"/></div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">联系方式：</div>
							<div class="rt-inp"><input type="text" name="phone" placeholder="请输入" value="{{ phone }}"/></div>
						</div>
                        <div class="grzx-from">
							<div class="ft-text">期望城市：</div>
							<div class="rt-inp">
								<select name="city">
									<option>不限</option>
									<option>北京</option>
									<option>上海</option>
                                    <option>广州</option>
                                    <option>西安</option>
								</select>
							</div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">工作时间：</div>
							<div class="rt-inp">
								<select name="job_suffer">
									<option>无</option>
									<option>1-3年</option>
									<option>3年以上</option>
                                    <option>5年以上</option>
								</select>
							</div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">期望月薪：</div>
							<div class="rt-inp">
								<select name="month_money">
									<option>请选择</option>
									<option>3000以下</option>
                                    <option>3000-5000</option>
                                    <option>5000-8000</option>
                                    <option>8000-10000</option>
                                    <option>10000-12000</option>
                                    <option>12000-15000</option>
                                    <option>15000以上</option>
								</select>
							</div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">求职方向：</div>
							<div class="rt-inp">
								<select name="job_direction">
                                    <option>请选择</option>
									<option>python开发工程师</option>
									<option>java开发工程师</option>
									<option>php开发工程师</option>
									<option>h5开发工程师</option>
								</select>
							</div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">教育经历：</div>
							<div class="rt-inp"><textarea name="edu">{{ edu }}</textarea></div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">个人简介：</div>
							<div class="rt-inp"><textarea name="resume">{{ user_info }}</textarea></div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">技能特长：</div>
							<div class="rt-inp"><textarea name="skill">{{ skill }}</textarea></div>
						</div>
						<div class="grzx-from">
							<div class="ft-text">项目经验：</div>
							<div class="rt-inp"><textarea name="object">{{ project_suffer }}</textarea></div>
						</div>
                        <div class="grzx-from">
							<div class="ft-text">工作经验：</div>
							<div class="rt-inp"><textarea name="job">{{ job_suffer }}</textarea></div>
						</div>
                        <div class="grzx-from">
							<div class="ft-text">简历状态：</div>
							<div class="edit-xb">
								<ul>
									<li>
										<input name="resume_status"  type="radio" value="公开"/>&nbsp;公开
									</li>
									<li>
										<input name="resume_status"  type="radio" value="保密"/>&nbsp;保密
									</li>
								</ul>
							</div>
						</div>
						<div class="blank20"></div>
						<div class="grzx-from tj-btn">
							<ul>
								<li><input type="submit" value="保存并更新" class="btn-tj" /></li>
{#								<li><input type="submit" value="取消" class="btn-qx"  /></li>#}
							</ul>
						</div>
					</form>
				</div>
				<div class="blank100"></div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript" src={% static "user/jlsc/js/jquery-form.js" %}></script>
<script type="text/javascript" src={% static "user/jlsc/js/jquery.js" %}></script>
<script type="text/javascript">
    function upload_img(file) {
        var request = new XMLHttpRequest()
        url = '{% url 'NB:img' %}'
        request.open('POST', url, true)
        request.onload = function () {
            if (request.status == 200 && request.readyState ==4){
                {#alert(request.responseText)#}
                data = JSON.parse(request.responseText)
                if(data.msg == 1){
                    $('#preImg').attr('src', '/static/' + data.path)
                }
            }
        }
        var formdata = new FormData()
        formdata.append('photo', file)
        formdata.append('username', 'lby')
        request.send(formdata)
    }
</script>
<script language= JavaScript>
   function initradio(rName,rValue){
           var rObj = document.getElementsByName(rName);
           for(var i = 0;i < rObj.length;i++){
               if(rObj[i].value == rValue){
                   rObj[i].checked =  'checked';
               }
           }
       }
              var s="{{ sex }}";//这里传入什么值就设为默认值。可以通过jsp<%=%>表达式读取后台传入的值
              initradio('sex',s);  //调用js方法来实现动态改变默认值
  </script>
<script language= JavaScript>
   function initradio(rName,rValue){
           var rObj = document.getElementsByName(rName);
           for(var i = 0;i < rObj.length;i++){
               if(rObj[i].value == rValue){
                   rObj[i].selected =  true;
               }
           }
       }
              var s="{{ xueli }}";//这里传入什么值就设为默认值。可以通过jsp<%=%>表达式读取后台传入的值
              initradio('xueli',s);  //调用js方法来实现动态改变默认值
  </script>
<script language= JavaScript>
   function initradio(jValue,rValue){
           for(var i = 0;i < jValue.options.length;i++){
               if(jValue.options[i].value == rValue){
                   jValue.options[i].selected =  true;
                   break
               }
           }
       }
              var s="{{ status }}";//这里传入什么值就设为默认值。可以通过jsp<%=%>表达式读取后台传入的值
              initradio(document.forms['resumeForm'].job_status,s);  //调用js方法来实现动态改变默认值
  </script>
<script language= JavaScript>
   function initradio(jValue,rValue){
           for(var i = 0;i < jValue.options.length;i++){
               if(jValue.options[i].value == rValue){
                   jValue.options[i].selected =  true;
                   break
               }
           }
       }
              var s="{{ year }}";//这里传入什么值就设为默认值。可以通过jsp<%=%>表达式读取后台传入的值
              initradio(document.forms['resumeForm'].job_suffer,s);  //调用js方法来实现动态改变默认值
  </script>
<script language= JavaScript>
   function initradio(jValue,rValue){
           for(var i = 0;i < jValue.options.length;i++){
               if(jValue.options[i].value == rValue){
                   jValue.options[i].selected =  true;
                   break
               }
           }
       }
              var s="{{ money }}";//这里传入什么值就设为默认值。可以通过jsp<%=%>表达式读取后台传入的值
              initradio(document.forms['resumeForm'].month_money,s);  //调用js方法来实现动态改变默认值
  </script>
<script language= JavaScript>
   function initradio(jValue,rValue){
           for(var i = 0;i < jValue.options.length;i++){
               if(jValue.options[i].value == rValue){
                   jValue.options[i].selected =  true;
                   break
               }
           }
       }
              var s="{{ job_title }}";//这里传入什么值就设为默认值。可以通过jsp<%=%>表达式读取后台传入的值
              initradio(document.forms['resumeForm'].job_direction,s);  //调用js方法来实现动态改变默认值
  </script>
<script language= JavaScript>
   function initradio(rName,rValue){
           var rObj = document.getElementsByName(rName);
           for(var i = 0;i < rObj.length;i++){
               if(rObj[i].value == rValue){
                   rObj[i].checked =  'checked';
               }
           }
       }
              var s="{{ resume_state }}";//这里传入什么值就设为默认值。可以通过jsp<%=%>表达式读取后台传入的值
              initradio('resume_status',s);  //调用js方法来实现动态改变默认值
  </script>
<script language= JavaScript>
   function initradio(jValue,rValue){
           for(var i = 0;i < jValue.options.length;i++){
               if(jValue.options[i].value == rValue){
                   jValue.options[i].selected =  true;
                   break
               }
           }
       }
              var s="{{ city }}";//这里传入什么值就设为默认值。可以通过jsp<%=%>表达式读取后台传入的值
              initradio(document.forms['resumeForm'].city,s);  //调用js方法来实现动态改变默认值
  </script>