<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>欢迎登录博纳人才网</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/mine/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/main.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/reset.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/public.css' %}">
    <link rel="stylesheet" href="{% static 'user/mine/recruitmenting.css' %}">
</head>
<body>

<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a style="font-size: 30px">博纳人才网</a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url "NB:go_user_mine" %}">我的主页</a></li>
                    <li class="menu-has-children"><a href="#">简历管理</a>
                        <ul>
                            <li><a href="{% url 'NB:find_resume' %}">简历浏览</a></li>
                            <li><a href="{% url 'NB:find_resume' %}">上传简历</a></li>
                            <li><a class="resume_refresh" href="#">简历刷新</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'NB:user_tdjd' 1 %}">投递进度</a></li>
{#                    <li><a href="{% url 'NB:zwss_home' 1 %}">职位搜索</a></li>#}
                    <li><a href="{% url 'NB:user_pbgs' 1 %}">屏蔽公司</a></li>
                    <li><a href="{% url 'NB:user_zwsc' 1 %}">职位收藏</a></li>
                    <li><a href="{% url 'NB:user_skgw' 1 %}">谁看过我</a></li>
                    <li class="menu-has-children"><a href="#">个人中心</a>
                        <ul>
                            <li><a href="{% url 'NB:go_user_reset' %}">找回密码</a></li>
                            <li><a href="{% url 'NB:go_user_vip' %}">会员信息</a></li>
                            <li><a href="{% url 'NB:quit_login' %}">用户注销</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<section class="banner-area relative" id="home">

    <div class="overlay overlay-bg" style="height: 723px">
        <div style="margin-left: 15%;margin-top: 7%;width:600px;height: 400px">
            <div style="width: 800px;height: 400px;">
                <div style="height: 15%"></div>
                <div style="background-color:white;width: 900px;height: 558px">
                    <div>
                        <div style="height: 20px"></div>
                        <div style="font-size: 25px;width: 12%;height:10%;"><b style="color: black">会员内容</b></div>

                        <hr>
                        <hr>
                        <table border="1"
                               style="margin-top: 5%;margin-left: 15%;width: 70%;height:300px;text-align: center;vertical-align: center">
                            <tr style="height: 20%">
                                <th>非会员</th>
                                <th>会员</th>
                            </tr>
                            <tr style="height: 40%">
                                <td valign="middle">只能看到一条企业查看纪录</td>
                                <td>可查看3天内的企业查看纪录</td>
                            </tr>
                            <tr style="height: 40%">
                                <td valign="middle">不能查看在求职者的竞争力</td>
                                <td>可以查看在求职者的竞争力</td>
                            </tr>
                        </table>
                        <div style="margin-top: 10%;margin-left: 35%">
                            <button href=""><b style="color: red">点击购买</b>￥69.0</button>
                            <button href="" style="margin-left: 10%"><b style="color: black">取消</b></button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row fullscreen d-flex align-items-center justify-content-center">
    </div>
</section>
<footer class="footer-area section-gap" style="height: 250px">
    <div class="container" style="height: 100px">
        <div class="row" style="margin-left: 300px">
            <p>
                <a href="#">关 于 我 们</a>---<a href="#">广 告 合 作 </a>---<a href="#">联 系 我 们 </a>---<a href="#">免 责 声 明 </a>---<a
                    href="#">在 线 投 稿 </a>---<a href="#">投 诉 建 议 </a>
            </p>
        </div>

        <div class="row footer-bottom d-flex justify-content-between" style="margin-left: 305px">

            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            python1805 NB 0.1 QUAN ZHAN SAN REN PRODUCT. 版权所有
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="{% static 'user/mine/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'user/mine/popper.min.js' %}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'user/mine/bootstrap.min.js' %}"></script>

<script src="{% static 'user/mine/easing.min.js' %}"></script>
<script src="{% static 'user/mine/hoverIntent.js' %}"></script>
<script src="{% static 'user/mine/superfish.min.js' %}"></script>
<script src="{% static 'user/mine/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'user/mine/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'user/mine/owl.carousel.min.js' %}"></script>
<script src="{% static 'user/mine/jquery.sticky.js' %}"></script>
<script src="{% static 'user/mine/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'user/mine/parallax.min.js' %}"></script>
<script src="{% static 'user/mine/mail-script.js' %}"></script>
<script src="{% static 'user/mine/main.js' %}"></script>
</body>
</html>
<script>
    $(function() {
        $('.resume_refresh').click(function () {
            $.getJSON('/resume_refresh/', function (data) {
                if (data['status'] == '200'){
                    alert('简历刷新成功')
                }
                if (data['status'] == '900'){
                    alert('简历刷新失败，请上传简历')
                }
            })

        })

    })
</script>

