<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/fav.png">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>会员中心</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'company/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'company/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'company/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'company/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'company/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'company/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'company/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'company/main.css' %}">
    <link rel="stylesheet" href="{% static 'list_yemian/reset.css' %}">
    <link rel="stylesheet" href="{% static 'list_yemian/public.css' %}">
    <link rel="stylesheet" href="{% static 'list_yemian/recruitmenting.css' %}">
</head>
<body>

<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a style="font-size: 30px">博纳人才网</a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url "NB:go_company_mine" %}">我的主页</a></li>
                    <li class="menu-has-children"><a href="">职位管理</a>
                        <ul>
                            <li><a href="{% url 'NB:upload_job_home' %}">职位发布</a></li>
                            <li><a href="{% url 'NB:go_company_zhiweisousuo' 1 %}">查看发布岗位</a></li>
                        </ul>
                    </li>
                    <li><a href="">职位搜索</a></li>
                    <li><a href="{% url 'NB:go_cpmpany_shoujianxiang' 1 %}">收件箱</a></li>
                    <li><a href="{% url 'NB:go_company_recaijia' 1 %}">公司人才夹</a></li>
                    <li class="menu-has-children"><a href="">个人中心</a>
                        <ul>
                            <li><a href="{% url 'NB:change_company' %}">修改公司基本信息</a></li>
                            <li><a href="{% url 'NB:go_company_reset' %}">找回密码</a></li>
                            <li><a href="{% url 'NB:go_company_vip' %}">会员信息</a></li>
                            <li><a href="{% url 'NB:quit_login' %}">用户注销</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<section class="banner-area relative" id="home">

    <div class="overlay overlay-bg" style="height: 723px">
        <div style="margin-left: 15%;margin-top: 7%;width:600px;height: 400px">
            <div style="width: 800px;height: 400px;">
                <div style="height: 15%"></div>
                <div style="background-color:white;width: 900px;height: 558px;">
                    <div>
                        <div style="height: 20px">
                        </div>
                        <div style="font-size: 25px;width: 12%;height:10%;"><b style="color: black">会员内容</b>
                        </div>
                        <hr>
                        <hr>
                        <div style="margin-top: 8%;margin-left: 10%;width: 90%;height:300px">
                            <div style="width:30%;float: left;text-align: center;vertical-align: center;height: 100%;border: 1px solid black">
                                <div style="height: 10%"></div>
                                <p><h1 style="color: #005cbf;">套餐A：￥2500.00
                                    </h1>
                                </p>
                                <div style="height: 20%;"></div>
                                <p style="font-size: 20px;height: 15%"><b style="color:red;">20</b>个岗位发布</p>
                                <p style="font-size: 20px;height: 15%"><b style="color:red;">1500</b>份简历下载</p>
                                <p style="font-size: 20px;height: 15%"><b style="color:red;">500</b>封邮件邀请</p>
                                <div style="height: 8%"></div>
                            </div>
                            <div style="width:30%;float: left;text-align: center;vertical-align: center;height: 100%;border: 1px solid black">
                                <div style="height: 10%"></div>
                                <p><h1 style="color: #005cbf;">套餐B：￥4500.00
                                    </h1>
                                </p>
                                <div style="height: 20%;"></div>
                                <p style="font-size: 20px;height: 15%"><b style="color:red;">40</b>个岗位发布</p>
                                <p style="font-size: 20px;height: 15%"><b style="color:red;">3000</b>份简历下载</p>
                                <p style="font-size: 20px;height: 15%"><b style="color:red;">1000</b>封邮件邀请</p>
                                <div style="height: 8%"></div>
                            </div>
                            <div style="width:30%;float: left;text-align: center;vertical-align: center;height: 100%;border: 1px solid black">
                                <div style="height: 10%"></div>
                                <p><h1 style="color: #005cbf;">套餐C：￥7500.00
                                    </h1>
                                </p>
                                <div style="height: 20%;"></div>
                                <p style="font-size: 20px;height: 15%"><b style="color:red;">80</b>个岗位发布</p>
                                <p style="font-size: 20px;height: 15%"><b style="color:red;">3000</b>份简历下载</p>
                                <p style="font-size: 20px;height: 15%"><b style="color:red;">1000</b>封邮件邀请</p>
                                <div style="height: 8%"></div>
                            </div>
                            <select style="width: 90%;height: 15%;text-align:center;background: #269abc">
                                    <option>请选择套餐</option>
                                    <option class="taocan" value=1>套餐一</option>
                                    <option class="taocan" value=2>套餐二</option>
                                    <option class="taocan" value=3>套餐三</option>
                            </select>
                        </div>
                        <div style="margin-top: 10%;margin-left: 40%">
                            <button id="goumai"><b style="color: red">点击购买</b></button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row fullscreen d-flex align-items-center justify-content-center">
    </div>
</section>
<footer class="footer-area section-gap" style="height: 250px">
    <div class="container" style="height: 100px">
        <div class="row" style="margin-left: 300px">
            <p>
                <a href="#">关 于 我 们</a>---<a href="#">广 告 合 作 </a>---<a href="#">联 系 我 们 </a>---<a href="#">免 责 声 明 </a>---<a
                    href="#">在 线 投 稿 </a>---<a href="#">投 诉 建 议 </a>
            </p>
        </div>

        <div class="row footer-bottom d-flex justify-content-between" style="margin-left: 305px">

            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            python1805 NB 0.1 QUAN ZHAN SAN REN PRODUCT. 版权所有
        </div>
    </div>
</footer>

<script src="{% static 'company/jquery-2.2.4.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'company/bootstrap.min.js' %}"></script>

<script src="{% static 'company/easing.min.js' %}"></script>
<script src="{% static 'company/hoverIntent.js' %}"></script>
<script src="{% static 'company/superfish.min.js' %}"></script>
<script src="{% static 'company/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'company/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'company/owl.carousel.min.js' %}"></script>
<script src="{% static 'company/jquery.sticky.js' %}"></script>
<script src="{% static 'company/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'company/parallax.min.js' %}"></script>
<script src="{% static 'company/mail-script.js' %}"></script>
<script src="{% static 'company/main.js' %}"></script>
</body>
</html>
<script type="text/javascript" src={% static "/jquery-1.8.3.js" %}></script>
<script type="text/javascript">
    $(function () {
            $("#goumai").click(function () {
                var num =$(".taocan").attr("value");
                $.getJSON("/goumai_vip/", {"num": num}, function (data) {
                    if (data['status'] == "200") {
                        alert("购买成功");
                        window.open("/go_company_mine/",target="_self")
                    }
                })

            })
        })
</script>



