<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/fav.png">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>欢迎登录博纳人才网</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'company/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'company/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'company/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'company/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'company/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'company/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'company/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'company/main.css' %}">
</head>
<body>

<header id="header" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a style="font-size: 30px"><img src="" alt="" title=""/>博纳人才网</a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url "NB:go_company_mine" %}">我的主页</a></li>
                    <li class="menu-has-children"><a href="">职位管理</a>
                        <ul>
                            <li><a href="{% url 'NB:upload_job_home' %}">职位发布</a></li>
                            <li><a href="{% url 'NB:go_company_zhiweisousuo' 1 %}">查看发布岗位</a></li>
                        </ul>
                    </li>
                    <li><a href="">简历搜索</a></li>
                    <li><a href="{% url 'NB:go_cpmpany_shoujianxiang' 1 %}">收件箱</a></li>
                    <li><a href="{% url 'NB:go_company_recaijia' 1 %}">公司人才夹</a></li>
                    <li class="menu-has-children"><a href="">个人中心</a>
                        <ul>
                            <li><a href="{% url 'NB:change_company' %}">修改公司基本信息</a></li>
                            <li><a href="{% url 'NB:go_company_reset' %}">找回密码</a></li>
                            <li><a href="{% url 'NB:go_company_vip' %}">会员信息</a></li>
                            <li><a href="{% url 'NB:quit_login' %}">用户注销</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-12" style="width: 800px">
                <h1 class="text-white">
                    每天有超过<span>50万</span> 人在博纳人才找工作
                </h1>
                <form action="{% url 'NB:search_company_job' 1 %}" class="serach-form-area">
                    <div class="row justify-content-center form-wrap">
                        <div style="width: 800px">
                            <input style="width: 800px" type="text" class="form-control" name="job_name"
                                   placeholder="请输入关键字，例如Java、python、销售代表、行政助理等">
                        </div>
                    </div>

                    <p class="text-white" style="font-size: 20px"><span><b>搜索纪录:</b></span><b style="color: black">
                        python开发工程师, Java开发工程师, 爬虫工程师, H5......</b></p >
                    <div class="row justify-content-center form-wrap">
                        <div class="default-select" id="default-selects">
                            <select name="xueli">
                                <option name="选择学历">选择学历</option>
                                <option name="不限">不限</option>
                                <option name="大专">大专</option>
                                <option name="本科">本科</option>
                                <option name="研究生">研究生</option>
                                <option name="研究生以上">研究生以上</option>
                            </select>
                        </div>
                        <div class="default-select" id="default-selects2">
                            <select name="jingyan">
                                <option name="工作年限">工作年限</option>
                                <option name="不限">不限</option>
                                <option name="1-3年">1-3年</option>
                                <option name="3-5年">3-5年</option>
                                <option name="5年以上">5年以上</option>
                            </select>
                        </div>
                        <div class="default-select" id="default-selects2">
                            <select name="xinzi">
                                <option name="薪资要求">薪资要求</option>
                                <option name="不限">不限</option>
                                <option name="3000以下">3000以下</option>
                                <option name="3000-5000<">3000-5000</option>
                                <option name="5000-8000">5000-8000</option>
                                <option name="8000-10000">8000-10000</option>
                                <option name="10000-12000">10000-12000</option>
                                <option name="12000-15000">12000-15000</option>
                                <option name="15000以上">15000以上</option>
                            </select>
                        </div>
                        <div class="default-select" id="default-selects2">
                            <select name="gangwei">
                                <option name="岗位">岗位</option>
                                <option name="不限">不限</option>
                                <option name="python开发工程师">python开发工程师</option>
                                <option name="java开发工程师">java开发工程师</option>
                                <option name="H5开发工程师">H5开发工程师</option>
                                <option name="php开发工程师">php开发工程师</option>
                            </select>
                        </div>
                        <div class="default-select" id="default-selects2">
                            <select name="qiwang">
                                <option name="期望工作地点">期望工作地点</option>
                                <option name="不限">不限</option>
                                <option name="北京">北京</option>
                                <option name="上海">上海</option>
                                <option name="广州">广州</option>
                                <option name="西安">西安</option>
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <input type="submit" class="btn btn-info" value="搜索">
                        {#                            <span class="lnr lnr-magnifier"></span> 搜索#}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="features-area">
    <div class="container">
        <div class="row" style="width: 1300px">
            <div class="col-lg-3 col-md-6">
                <div class="single-feature" style="background: lightgoldenrodyellow;width:350px;height: 250px">
                    <h4 style="margin-top: 30px"><a href="" style="font-size: 40px;">职位发布</a></h4>
                    <div style="font-size: 20px;color: blue ;margin-top: 60px">
                        已发布{{ leng }}个职位<br>
                        剩余发布量{{ job_sy }}个岗位
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" style="margin-left: 100px">
                <div class="single-feature" style="background: lightgoldenrodyellow;width:350px;height: 250px">
                    <h4 style="margin-top: 30px"><a href="" style="font-size: 40px">收件箱</a></h4>
                    <div style="font-size: 20px;color: blue;margin-top: 60px">
                        共收到{{ num_t }}份简历<br>
                        {{ num_w }}还未查看
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" style="margin-left: 100px">
                <div class="single-feature" style="background: lightgoldenrodyellow;width:350px;height: 250px">
                    <h4 style="margin-top: 30px"><a href="" style="font-size: 40px">会员信息</a></h4>
                    <div style="font-size:20px;color: blue;margin-top: 60px">
                        剩余{{ job_sy }}个岗位， {{ load_sy }}个下载量<br>
                        剩余{{ mail_sy }}个邮件邀约
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="post-area section-gap">
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list">
                {% for foo in s_lists %}
                    <div class="single-post d-flex flex-row">
                        <div class="thumb">
                            <img src="/static/user/resume_img/{{ foo.resume_img }}" alt="">
                            <ul class="tags">
                                <li>
                                    <a href="">{{ foo.name }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href=""><h4>{{ foo.job_title }}</h4></a>
                                    <h6>{{ foo.resume_time }}</h6>
                                </div>
                                <ul class="btns">
                                    <li><a href="#">查看详细简历</a></li>
                                </ul>
                            </div>
                            <p>
                                {{ foo.user_info }}
                            </p>
                            <h5>{{ foo.state }}</h5>
                            <p class="address"><span class="lnr lnr-map"></span>{{ foo.city }}</p>
                            <p class="address"><span class="lnr lnr-database"></span>期望薪资：{{ foo.month_money }}</p>
                        </div>
                    </div>
                {% endfor %}
                <a class="text-uppercase loadmore-btn mx-auto d-block" href="{% url 'NB:go_cpmpany_shoujianxiang' 1 %}">查看更多简历</a>

            </div>
            <div class="col-lg-4 sidebar">

                <div class="single-slidebar">
                    <h4>相似简历</h4>
                    <div class="active-relatedjob-carusel">
                        {% for fo in xs_lists %}

                            <div class="single-rated">
                                <img class="img-fluid" src="{% static 'img/r1.jpg' %}" alt="">
                                <a href=""><h4>{{ fo.job_title }}</h4></a>
                                <h6>{{ fo.user_name }}</h6>
                                <p>
                                    {{ fo.user_info }}
                                </p>
                                <h5>{{ fo.state }}</h5>
                                <p class="address"><span class="lnr lnr-map"></span>{{ fo.city }}</p>
                                <p class="address"><span class="lnr lnr-database"></span> {{ fo.month_money }}</p>
                                <a href="#" class="btns text-uppercase">查看简历</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="single-slidebar">
                    <h4>会员套餐</h4>
                    <div class="blog-list">
                        <div class="single-blog " style="background:#000 url(../static/img/blog1.jpg);">
                            <h4>20个岗位发布<br>
                                1500份简历下载<br>
                                500封邮件邀请</h4>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    <a href="" style="color: red">购买A套餐</a>
                                </p>
                                <p>
                                    <span class=""></span>
                                    ￥
                                    <span class=""></span>
                                    2500.00
                                </p>
                            </div>
                        </div>
                        <div class="single-blog " style="background:#000 url(../static/img/blog2.jpg);">
                            <h4>40个岗位发布<br>
                                3000份简历下载<br>
                                1000封邮件邀请</h4>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    <a href="" style="color: red">购买B套餐</a>
                                </p>
                                <p>
                                    <span class=""></span>
                                    ￥
                                    <span class=""></span>
                                    4500.00
                                </p>
                            </div>
                        </div>
                        <div class="single-blog " style="background:#000 url(../static/img/blog1.jpg);">
                            <h4>80个岗位发布<br>
                                5000份简历下载<br>
                                1500封邮件邀请</h4>
                            <div class="meta justify-content-between d-flex">
                                <p>
                                    <a href="" style="color: red">购买C套餐</a>
                                </p>
                                <p>
                                    <span class=""></span>
                                    ￥
                                    <span class=""></span>
                                    7500.00
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slidebar">
                    <h3 style="text-align: center">客服</h3>
                    <p>
                    <div style="text-align: left;margin-left: 40px;height: 100px;font-size: 12px;">
                        <div style="height: 20px"></div>
                        传真: 010-12345678<br>
                        联系qq: 123456<br>
                        联系邮箱: bona123@163.com<br>
                        客服电话: 400-800-900
                    </div>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<footer class="footer-area section-gap" style="height: 250px">
    <div class="container" style="height: 100px">
        <div class="row" style="margin-left: 300px">
            <p>
                <a href="#">关 于 我 们</a>---<a href="#">广 告 合 作 </a>---<a href="#">联 系 我 们 </a>---<a href="#">免 责 声 明 </a>---<a
                    href="#">在 线 投 稿 </a>---<a href="#">投 诉 建 议 </a>
            </p>
        </div>

        <div class="row footer-bottom d-flex justify-content-between" style="margin-left: 305px">

            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            python1805 NB 0.1 QUAN ZHAN SAN REN PRODUCT. 版权所有
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script src="{% static 'company/jquery-2.2.4.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{% static 'company/bootstrap.min.js' %}"></script>

<script src="{% static 'company/easing.min.js' %}"></script>
<script src="{% static 'company/hoverIntent.js' %}"></script>
<script src="{% static 'company/superfish.min.js' %}"></script>
<script src="{% static 'company/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'company/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'company/owl.carousel.min.js' %}"></script>
<script src="{% static 'company/jquery.sticky.js' %}"></script>
<script src="{% static 'company/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'company/parallax.min.js' %}"></script>
<script src="{% static 'company/mail-script.js' %}"></script>
<script src="{% static 'company/main.js' %}"></script>
</body>
</html>



